@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/variables' as *; 

// responsive  container
body{
    padding: 0;
    margin: 0;
    background-color: $mainColor;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding:  0 15px;
    margin: 0 auto;
    @media (min-width:$minSmall) {
        &{
            width: 750px;
        }
    }
    @media (min-width:$minMeduim) {
        &{
            width: 970px;
        }
    }
    @media (min-width:$minLarge) {
        &{
            width: 1170px;
        }
    }

}
   